@* formTest Template File *@
@(formState: com.abc.F.FS, hasErrors: Boolean)(implicit lang: Lang, style: Style)
@main("Form-Test") {
  @formState.withStyle(/.form ~= (/.action_@, routes.Application.processForm)).form {
    @formState.f1.inputText
    @formState.f2.checkBox
    @formState.f3.selectionGroup(false)
    @formState.f4.selectionGroup(true)
    @formState.f5.selectionGroup(false)
    @formState.f6.withStyle(/.input ~= (/.placeholder_@, "please enter your password")).inputPassword
    @formState.f7.submitButtonGroup(false, valueStyler = v => /.button += (/.class_@, "btn-" + v))
    @formState.f8.inputRange
    @formState.f9.selectionList()
    @formState.f10.selectionList()
    @formState.withStyle(/.button += (/.class_@, "btn-primary")).submit
  }
  @if(hasErrors) {
    <p class="text-danger">@Messages("pleaseCorrect")</p>
  }
}
