@* formTest Template File *@
@(formState: com.abc.F.FS)(implicit lang: Lang, style: Style)
@main("Form-Test") {
  @formState.withStyle(Bss.form += ("action", routes.Application.processForm.toString)).form {
    @formState.f1.inputRange
    @formState.f2.checkBox
    @formState.f3.checkBoxGroup(false)
    @formState.f4.radioButtonGroup(true)
    @formState.f5.radioButtonGroup(false)
    @formState.f6.inputPassword
    @formState.f7.submitButtonGroup(true)
    @* @formState.f7.withValueStyle(v => Bss.button += ("class", "btn btn-" + v)).submitButtonGroup(true) *@
    @formState.f8.inputRange
    @formState.withStyle(Bss.button += ("class", "btn-primary")).submit
  }
}
